* {
    margin:0; 
    padding:0;
}

body
{
    padding-left: 10%;
    padding-right: 10%;
    //background-color: #F7CCAC;
}
nav {
    justify-items: center;
    padding-top: 3%;
    background-color: #3A3845;
    margin:auto;
    text-align: center;
    width: 100%;
    font: 15px Arial, sans-serif;
    .judul
    {
        letter-spacing: 6px;
        font-size: large;
    }
    ul{
        list-style: none;
        position: relative;
        display: inline-table;
        width: 90%;
    }
    ul li
    {
        float:left;
    }
    ul li a
    {
        display: block;
        padding: 25px;
        color: #fff;
        text-decoration: none;
    }
    a{
        display: block;
        color: #fff;
        text-decoration: none;
    }
    ul li:hover
    {
        background:#DAB88B;
    } 
    ul li:hover a
    {
        color:#3A3845;
    }
    button
    {
        border: none;
        display: block;
        color: #fff;
        text-decoration: none;
        background-color: #3A3845;
        padding: 25px;
        display: block;
    }
    .buttonawal
    {
        float: right;
    }
    button:hover
    {
        background:#DAB88B;
        color:#3A3845;
    }  
} 
.jumbo
{
    background: url('../assets/jumbotron.jpg');
    padding-top: 20%;
    padding-bottom: 20%;
    background-size: cover;
    .text
    {
        padding-left: 10%;
        line-height: 40px;
        font-size: x-large;
        color: #3A3845;
    }
    button
    {
        border: none;
        color: #fff;
        text-decoration: none;
        background-color: #3A3845;
        padding: 25px;
        
    }
    button:hover
    {
        background:#DAB88B;
        color:#3A3845;
    }
}
.produc
{
    
    font: 15px Arial, sans-serif;

}
.card
{
    h3{}
    img
    {
        width: 50%;
        height: 50%;
    }
}